
.homeSkills{
    width: 100%;
    height: 400px;
    padding: 0 110px 0 110px;
    margin-top: 120px;
    
}

.homeSkills h1{
    color: #FFF;
    font-size: 55px;
}

.homeSkills h1 span{
    color: #00D9E3;
}
    

.homeSkills .skills{
    width: 100%;
    height: 130px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    
}

.homeSkills .skills img{
    width: 80px;
    border-radius: 50%;
    flex-direction: row;
    cursor: pointer;
    transition: all .2s;
}

.homeSkills .skills img:hover{
    scale: 1.1;
}
.homeSkills .skills img:last-child{
    width: 80px;
}

@media screen and (max-width: 360px) {
    .homeSkills{
        padding: 30px;
    }
    .homeSkills h1{
        color: #FFF;
        font-size: 40px;
    }
    
    .homeSkills .skills img{
        width: 50px;
        border-radius: 50%;
        cursor: pointer;
        transition: all .2s;
    }
    
    .homeSkills .skills{
        display: grid;
        grid-template-columns:  auto auto auto auto;
        gap: 40px;
    }

    .homeSkills .skills img:last-child{
        width: 50px;
    }
    
    
}

@media screen and (max-width: 400px) {
    .homeSkills{
        padding: 30px;
    }
    .homeSkills h1{
        color: #FFF;
        font-size: 40px;
    }
    
    .homeSkills .skills img{
        width: 50px;
        border-radius: 50%;
        cursor: pointer;
        transition: all .2s;
    }
    
    .homeSkills .skills{
        display: grid;
        grid-template-columns:  auto auto auto auto;
        gap: 40px;
    }

    .homeSkills .skills img:last-child{
        width: 50px;
    }
    
    
}



@media screen and (max-width: 450px) {
    .homeSkills{
        padding: 30px;
    }
    .homeSkills h1{
        color: #FFF;
        font-size: 40px;
    }
    
    .homeSkills .skills img{
        width: 50px;
        border-radius: 50%;
        cursor: pointer;
        transition: all .2s;
    }
    
    .homeSkills .skills{
        display: grid;
        grid-template-columns:  auto auto auto auto;
        gap: 40px;
    }

    .homeSkills .skills img:last-child{
        width: 50px;
    }
    
    
}