.heder{
    width: 100%;
    height: 200px;
    background: #010c11;
    display: flex;
    align-items: center;
    justify-content: end;
    padding: 0 130px 0 130px ;
    position: relative;
}

.heder p{
    color: white;
    position: absolute; left: 130px;
    font-weight: bold;
}

.heder a{
    color: white;
    font-size: 14px;
    font-weight: bold;
    margin: auto 15px;
    text-decoration: none;
    display: flex;
    align-items: center;
}


.heder a img{
    scale: .5;
    transition: all .2s;
    margin-left: 10px;
}

.heder a:hover img{
    scale: 1.1;
    color: rgb(0, 234, 255);
}



@media screen and (max-width: 360px) {
    .heder{
        font-size: 10px;
        padding:30px 40px 30px 40px;
        display: grid;
        align-items: start;
        justify-content: space-between;
        grid-template-columns: auto auto  ;
    }

    .heder a{
        margin: 0;
        font-size: 12px;
    }

    .heder a img{
        margin-left: 5px;
    }

    .heder p{
        display: none;
    }

    .heder a:hover img{
        scale: .8;
        color: rgb(0, 234, 255);
    }
}


@media (min-width: 361px) and (max-width: 400px) {
    .heder{
        font-size: 10px;
        padding:30px;
        display: grid;
        align-items: start;
        justify-content: space-between;
        grid-template-columns: auto auto  ;
    }

    .heder a{
        margin: 0;
        font-size: 12px;
    }

    .heder a img{
        margin-left: 5px;
    }

    .heder p{
        display: none;
    }

    .heder a:hover img{
        scale: .8;
        color: rgb(0, 234, 255);
    }
}

@media (min-width: 400px) and (max-width: 412px) {
    .heder{
        font-size: 10px;
        padding:30px 30px 30px 30px;
        display: grid;
        align-items: start;
        justify-content: space-between;
        grid-template-columns: auto auto  ;
    }

    .heder a{
        margin: 0;
        font-size: 15px;
    }

    .heder a img{
        margin-left: 5px;
    }

    .heder p{
        display: none;
    }

    .heder a:hover img{
        scale: .8;
        color: rgb(0, 234, 255);
    }
}
@media (min-width: 401px) and (max-width: 450px) {
    .heder{
        font-size: 10px;
        padding:30px 60px 30px 60px;
        display: grid;
        align-items: start;
        justify-content: space-between;
        grid-template-columns: auto auto  ;
    }

    .heder a{
        margin: 0;
        font-size: 15px;
    }

    .heder a img{
        margin-left: 5px;
    }

    .heder p{
        display: none;
    }

    .heder a:hover img{
        scale: .8;
        color: rgb(0, 234, 255);
    }
}



