
body{
  margin: 0;
  font-family: sans-serif;
}
::-webkit-scrollbar{
  width: 0;
}

html{
  scroll-behavior: smooth;
}

*{
  padding: 0;
  box-sizing: border-box;
}


.app{
  width: 100%;
  background: #0F103F;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
